@font-face {
    font-family: Farscape;
    src: url("../fonts/farscape1.ttf");
}

@font-face {
    font-family: Trek;
    src: url("../fonts/handel_gothic.ttf");
}

@font-face {
    font-family: Lcars;
    src: url("../fonts/Okuda.ttf");
}
